
<% provide(:title, "Home") %>

<div class="row">
  <%= render 'layouts/categories' %>


  
 
			<div class ="col-sm-3 center">
			  <h2 class="text-center">Deals Of The Week</h2>
			  <table class="table-bordered center-table">
        <% @products.limit(3).order(:price).each do |product| %>
        <tr>
            
            <td class="img-responsive"><%= link_to (image_tag product.image_url, :style=> "height:100px;"),product %></td>
            <td class="legend"><%= link_to product.title, product %></td>
           
            <td class="legend"><%= number_to_currency(product.price, :unit => '$') %></td>
            <td class="legend"><a href="/cart/<%= product.id %>">Add to cart</a></td>
        </tr>
        <% end %>
        <br>
          </table>
      </div>


</div>
</div>


