<body>
	<div class="container-fluid">
		
		<div class="row">
			<div class ="col-sm-3 center">
				
			
			</div>
			<div class ="col-sm-6 center text-center">
			    <h1>Your Cart</h1>
                    <br><br> <!-- breaks added just to style the document -->
                    <% if @cart.empty? %>
                        <p><strong>Your cart is empty</strong></p>
                    <%end%>
                    
                    <% total = 0 %>
                    
                    <table class="table-bordered center-table">
                        <tr>
                            <td class="legend"></td>
                            <td class="legend"><strong>Book</strong></td>
                            <td class="legend"><strong>Remove</strong></td>
                            <td class="legend"><strong>Price</strong></td>
                            <td class="legend"><strong>Quantity</strong></td>
                            <td class="legend"><strong>Total</strong></td>
                        </tr>
                        
                        <% @cart.each do |id,quantity| %>
                        <% item = Product.find_by_id(id) %>
                        <tr>
                            <td>
                                <div class="image">
                                    <%= link_to (image_tag item.image_url, :style => "height:40px"), item %>
                                </div>
                            </td>
                            <td class="title"><%= link_to item.title, item %></td>
                            <td><a href="/cart/remove/<%= item.id %>">Remove from Cart</a>
                            </td>
                            <td class="price"><%=number_to_currency(item.price)%></td>
                            <td class="quantity"><%= quantity %></td>
                            <td class="price"><%= number_to_currency(quantity * item.price, :unit => "€") %></td>
                        </tr>
                        <% total += quantity * item.price%>
                        <% end %>
                        <tr>
                            <td colspan="5">
                                <div class="total"><strong>Total</strong></div>
                            </td>
                            <td>
                                <div class="price">
                                    <strong><%= number_to_currency(total, :unit => "Eur")%></strong>
                                </div>
                            </td>
                        </tr>
                        </table>
                        <br>
                        <table class="center-table">
                            <tr>
                                <td class="text-success"><strong><%= link_to 'Checkout', :controller => "cart", :action => "createOrder" %></strong></td> 
                                <td>-</td>
                                <td class="text-danger"><strong><%= link_to 'Clear Cart', :controller => "cart", :action => "clearCart" %></strong></td>
                                <td>-</td>
                                <td class="text-primary"><strong><%= link_to "Continue Shopping", :controller => :products %></strong></td>
                                
                            </tr>
                               
                        </table>
                            
                        

			</div>
			<div class ="col-sm-3 center">
			    
			</div>
		</div>
	</div>
</body>

