<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | FoxBooks</title>
    <!--<title>FoxBooks</title>-->
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render 'layouts/header'%>
    <div>
      <div>
        <p class="notice"><%= flash[:notice] %></p>
       <%= yield %>
      </div>
     
      
  
      <% if user_signed_in? %>
          <% if current_user.admin %>
          <div class="container-fluid">
          
            <div class="row">
              <div class="col-sm-3">
                
              </div>
              <div class="col-sm-6 text-center">
                <table class="table-bordered center-table">
                  
                    <tr><h4 class="text-danger">*Admin Zone*</h4></tr>
                    <td><%= link_to 'New Category', new_category_path %></td>
                    <td><%= link_to 'New Product', new_product_path %></td>
                    <td><%= link_to "View Orders", orders_path  %></td>
                    <td><%= link_to "View Products", products_path  %></td>
                  </tr>
                  
                </table>
                
              </div>
               <div class="col-sm-3">
                
              </div>
            </div>
            
            
             </div>
          </div>
          <% end %>
        
        <% end %>
     
    </div>
  
   <%= render 'layouts/footer'%>
  </body>
</html>
 